**/__pycache__/
*.pyc
*.egg-info/
.idea/
.DS_Store
# Ignore everything under inputs and outputs
inputs/*
outputs/*

# But keep README files (and their directories)
!inputs/README.md
!outputs/README.md
!inputs/**/README.md
!outputs/**/README.md

# Allow the demography folder structure
!inputs/demography/
!inputs/demography/census/
!inputs/demography/dhs/
!inputs/demography/wpp/

# Allow README files only
!inputs/demography/census/README.md
!inputs/demography/dhs/README.md
!inputs/demography/wpp/README.md